# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.egg

# Virtual environment
venv/
.venv/

# Dart / Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Flutter build (couvre flutter/build/ et android/app/build/)
build/

# Gradle cache
.gradle/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

docs/RAPPORT.adoc
